{* Latte template *}

{block content}
<h1> Vytvoření nového alba nebo interpreta </h1>

<fieldset>
    <legend>Interpret</legend>
<div class="vypujcka-form">
{control newInterpretForm}
</div>
</fieldset>

<fieldset>
    <legend>Album</legend>
<div class="vypujcka-form">
{control newAlbumForm}
</div>
</fieldset>

{/block}