<form action="" method="post"><table>
<tr>
	<th><label for="frm-username">Username:</label><th>
	<td><input title="Hello" cols="10" type="text" name="username" id="frm-username" value="" /></td>
</tr>
<tr>
	<th><label for="frm-password">Password:</label><th>
	<td><input title="Hello" cols="10" type="password" name="password" id="frm-password" /></td>
</tr>
<tr>
	<th><th>
	<td><input title="Hello" cols="10" type="submit" name="send" id="frm-send" value="Sign in" /></td>
</tr>
</table>
</form>


<form action="" method="post">	<input value=val type class="hello"  name="username" id="frm-username"/>

	<input  type="text" name="username" id="frm-username" value=""/>
</form>
