<?php
// prolog Nette\Latte\Macros\CoreMacros
list($_l, $_g) = Nette\Latte\Macros\CoreMacros::initRuntime($template, 'xxx')
;
// prolog Nette\Latte\Macros\UIMacros

// snippets support
if (%A%}

//
// main template
//
?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ul>
<?php $iterations = 0; foreach ($people as $person): ?>
	<li><?php echo Nette\Templating\Helpers::escapeHtml($template->upper($person), ENT_NOQUOTES) ?></li>
<?php $iterations++; endforeach ?>
{* comment latte *}
</ul>

<p>Default: <?php echo Nette\Templating\Helpers::escapeHtml($person, ENT_NOQUOTES) ?></p>

<ul>
<?php $iterations = 0; foreach ($people as $person): ?>
	<li><?php echo Nette\Templating\Helpers::escapeHtml($template->upper($person), ENT_NOQUOTES) ?></li>
<?php $iterations++; endforeach ?>
</ul>

<p>Default: <?php echo Nette\Templating\Helpers::escapeHtml($person, ENT_NOQUOTES) ?></p>

<ul>
<?php $iterations = 0; foreach ($people as $person): ?>
	<li><?php echo Nette\Templating\Helpers::escapeHtml($template->upper($person), ENT_NOQUOTES) ?></li>
<?php $iterations++; endforeach ?>
</ul>

<p>Default: <?php echo Nette\Templating\Helpers::escapeHtml($person, ENT_NOQUOTES) ?></p>

<p>Default: <?php echo Nette\Templating\Helpers::escapeHtml($person, ENT_NOQUOTES) ?></p>

<p>Default: {$person}</p>
