<?php
// prolog Nette\Latte\Macros\CoreMacros
list($_l, $_g) = Nette\Latte\Macros\CoreMacros::initRuntime($template, 'xxx')
;
// prolog Nette\Latte\Macros\UIMacros
//
// block _outer
//
if (!function_exists($_l->blocks['_outer'][] = '_xxx__outer')) { function _xxx__outer($_l, $_args) { extract($_args); $_control->validateControl('outer')
?>	<p>Outer</p>
<?php
}}

//
// block _inner
//
if (!function_exists($_l->blocks['_inner'][] = '_xxx__inner')) { function _xxx__inner($_l, $_args) { extract($_args); $_control->validateControl('inner')
?>	<p>Inner</p>
<?php
}}

//
// block _gallery
//
if (!function_exists($_l->blocks['_gallery'][] = '_xxx__gallery')) { function _xxx__gallery($_l, $_args) { extract($_args); $_control->validateControl('gallery')
;
}}

//
// end of blocks
//

// template extending and snippets support

$_l->extends = empty($template->_extended) && isset($_control) && $_control instanceof Nette\Application\UI\Presenter ? $_control->findLayoutTemplateFile() : NULL; $template->_extended = $_extended = TRUE;


if ($_l->extends) {
	ob_start();

} elseif (!empty($_control->snippetMode)) {
	return Nette\Latte\Macros\UIMacros::renderSnippets($_control, $_l, get_defined_vars());
}

//
// main template
//
?>	<div class="test"<?php echo ' id="' . $_control->getSnippetId('outer') . '"' ?>>
<?php if ($_l->extends) { ob_end_clean(); return Nette\Latte\Macros\CoreMacros::includeTemplate($_l->extends, get_defined_vars(), $template)->render(); }
call_user_func(reset($_l->blocks['_outer']), $_l, $template->getParameters()) ?>
	</div>

	<div class="test"<?php echo ' id="' . $_control->getSnippetId('inner') . '"' ?>>
<?php call_user_func(reset($_l->blocks['_inner']), $_l, $template->getParameters())  ?>	</div>

	<div class="<?php echo htmlSpecialChars('class') ?>"<?php echo ' id="' . $_control->getSnippetId('gallery') . '"' ?>
><?php call_user_func(reset($_l->blocks['_gallery']), $_l, $template->getParameters()) ?>
</div>
