<ul>
	<li>lower: hello world</li>
	<li>upper: HELLO WORLD</li>
	<li>lower & capitalize: Hello World</li>
	<li>nl2br: Hello World</li>
	<li>truncate: hello…</li>
	<li>date: 02.01.2008 00:00:00</li>
	<li>translated: dl…</li>
	<li>Translated HTML: joha</li>
	<li>Translated HTML: joha</li>
	<li>Translated HTML: johajohajohajoha|joha</li>
	<li>spaces: string, string, string, string</li>
</ul>

<ul>
	<li>HELLO WORLD (1 TIMES)</li>
	<li>HELLO WORLD (2 TIMES)</li>
	<li>hello world (3 times)</li>
	<li>hello world (4 times)</li>
</ul>

<ul>
	<li>integer, integer, double, string</li>
	<li>integer, integer, string</li>
	<li>string, boolean, NULL, boolean</li>
	<li>string, boolean, NULL, boolean</li>
	<li>string, string, string, string</li>
</ul>



<a href="#" > test</a > AŠA<script>
// comment
alert();
</script>




<p>
Captured: &lt;ul&gt;
	&lt;li&gt;lower: hello world&lt;/li&gt;
&lt;/ul&gt;

</p>



<p>
Captured with modifier: HELLO

</p>



<p>
Nested blocks:  Outer    INNER…
</p>
