<form action="" method="post"><table>
	<tr>
		<th><label for="frm-input1">Input 1</label><th>
		<td><input type="text" name="input1" id="frm-input1" value="" /></td>
	</tr>
	<tr>
		<th><label for="frm-cont1-input2">Input 2</label><th>
		<td><input type="text" name="cont1[input2]" id="frm-cont1-input2" value="" /></td>
	</tr>
	<tr>
		<th><label for="frm-cont1-input3">Input 3</label><th>
		<td><input type="text" name="cont1[input3]" id="frm-cont1-input3" value="" /></td>
	</tr>
	<tr>
		<th>Checkboxes<th>
		<td>
			<ol>
				<li><input type="checkbox" name="cont1[cont2][input4]" id="frm-cont1-cont2-input4" /> - <label for="frm-cont1-cont2-input4">Input 4</label></li>
				<li><input type="checkbox" name="cont1[cont2][input5]" id="frm-cont1-cont2-input5" /> - <label for="frm-cont1-cont2-input5">Input 5</label></li>
				<li><input type="checkbox" name="cont1[cont2][input6]" id="frm-cont1-cont2-input6" /> - <label for="frm-cont1-cont2-input6">Input 6</label></li>
			</ol>
		</td>
	</tr>
	<tr>
		<th><label for="frm-cont1-input7">Input 7</label><th>
		<td><input type="text" name="cont1[input7]" id="frm-cont1-input7" value="" /></td>
	</tr>
	<tr>
		<th><th>
		<td><input type="submit" name="input8" id="frm-input8" value="Input 8" /></td>
	</tr>
</table>
</form>
