<?php
%A%
?>
<ul>
	<li><?php echo Nette\Templating\Helpers::escapeHtml($hello->{'item'}, ENT_NOQUOTES) ?></li>
	<li><?php echo Nette\Templating\Helpers::escapeHtml(function(){}, ENT_NOQUOTES) ?></li>
	<li><?php echo Nette\Templating\Helpers::escapeHtml(function(){return}, ENT_NOQUOTES) ?></li>
	<li><?php echo Nette\Templating\Helpers::escapeHtml(function() { return; }, ENT_NOQUOTES) ?></li>
	<li><?php echo Nette\Templating\Helpers::escapeHtml($template->upper(function(){return}), ENT_NOQUOTES) ?></li>
	<li><?php echo Nette\Templating\Helpers::escapeHtml($template->upper(function() { return; }), ENT_NOQUOTES) ?></li>
	<li><?php echo Nette\Templating\Helpers::escapeHtml($template->upper(function() { return; }, $item->{10}), ENT_NOQUOTES) ?></li>
</ul>
