%A%
// block _
//
if (!function_exists($_l->blocks['_'][] = '_xxx__')) { function _xxx__($_l, $_args) { extract($_args); $_control->validateControl(false)
;
}}

//
// block _outer
//
if (!function_exists($_l->blocks['_outer'][] = '_xxx__outer')) { function _xxx__outer($_l, $_args) { extract($_args); $_control->validateControl('outer')
?>	Outer
		<div id="<?php echo $_control->getSnippetId('inner') ?>"><?php call_user_func(reset($_l->blocks['_inner']), $_l, $template->getParameters()) ?>
</div>
	/Outer
<?php
}}

//
// block _inner
//
if (!function_exists($_l->blocks['_inner'][] = '_xxx__inner')) { function _xxx__inner($_l, $_args) { extract($_args); $_control->validateControl('inner')
?>Inner<?php
}}

//
// block _title
//
if (!function_exists($_l->blocks['_title'][] = '_xxx__title')) { function _xxx__title($_l, $_args) { extract($_args); $_control->validateControl('title')
?>Title 1<?php
}}

//
// block _title2
//
if (!function_exists($_l->blocks['_title2'][] = '_xxx__title2')) { function _xxx__title2($_l, $_args) { extract($_args); $_control->validateControl('title2')
?>Title 2<?php
}}

//
// end of blocks
%A%
	return Nette\Latte\Macros\UIMacros::renderSnippets($_control, $_l, get_defined_vars());
%A%
<div id="<?php echo $_control->getSnippetId('') ?>"><?php call_user_func(reset($_l->blocks['_']), $_l, $template->getParameters()) ?>
</div>


<div id="<?php echo $_control->getSnippetId('outer') ?>"><?php call_user_func(reset($_l->blocks['_outer']), $_l, $template->getParameters()) ?>
</div>


	@<?php if (true): ?> Hello World @<?php endif ?>


	<h2 id="<?php echo $_control->getSnippetId('title') ?>"><?php call_user_func(reset($_l->blocks['_title']), $_l, $template->getParameters()) ?>
</h2>

	<h2 id="<?php echo $_control->getSnippetId('title2') ?>"><?php call_user_func(reset($_l->blocks['_title2']), $_l, $template->getParameters()) ?>
</h2>
