<?php

//

?><?php
// prolog Nette\Latte\Macros\CoreMacros
list($_l, $_g) = Nette\Latte\Macros\CoreMacros::initRuntime($template, 'xxx')
;
// prolog Nette\Latte\Macros\UIMacros

// snippets support
if (%A%}

//
// main template
//
?>
<p>Included file #1</p>

<?php Nette\Latte\Macros\CoreMacros::includeTemplate("include2.latte", array('localvar' => 20) + $template->getParameters(), $_l->templates['xxx'])->render() ?>

<?php Nette\Latte\Macros\CoreMacros::includeTemplate("../include3.latte", $template->getParameters(), $_l->templates['xxx'])->render() ?>

<textarea>
pre
</textarea>
