	{snippet outer1}
	{foreach array(1,2,3) as $id}
		<div n:snippet="inner-$id">
				#{$id}
		</div>
	{/foreach}
	{/snippet}


	{snippet outer2}
	{foreach array(1,2,3) as $id}
		<div n:inner-snippet="inner-$id">
				#{$id}
		</div>
	{/foreach}
	{/snippet}
