{**
 * @param  array  $namespaces
 * @param  array  $classes
 * @param  string $namespace
 * @param  Apigen\CustomClassReflection $class
 * @param  string $fileRoot
 *}
{default $class = NULL, $namespace = NULL, $top = TRUE}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<link rel="stylesheet" href="style.css" />
	<title>{block title}My website{/block}</title>
</head>

<body>
	<div id="sidebar">
		{block sidebar}
		<ul>
			<li><a href="/">Homepage</a></li>
			<li><a href="/contact">Contact</a></li>
		</ul>
		{/block}
	</div>

	<div id="content">
		{include #content}
	</div>
</body>
</html>
