{* Latte template *}

{block content}
<h1>Editace uživatelů</h1>
<div class="vypujcka-form">
    <fieldset>
        <legend>Nový uživatel</legend>
        <div class="vypujcka-form">
            {control createNewUserForm}
        </div>
    </fieldset>
</div>
<div class="vypujcka-form">
    <fieldset>
        <legend>Seznam uživatelů</legend>
        <div class="vypujcka-form">
            <table class="users">
                <thead>
                    <tr>
                        <th class="id">ID</th>
                        <th class="username">Uživatelské jméno</th>
                        <th class="jmeno">Jméno a příjmení</th>
                        <th class="role">Role</th>       
                    </tr>
                </thead>
                <tbody>
                    {foreach $users as $user}
                        {var $id = $user->id}
                        <tr>
                            <td>{$id}</td>
                            <td>{$user->username}</td>
                            <td>{$user->name}</td>
                            <td>{$user->role}</td>
                            <td><a n:href="User:edit, $id">Editovat</a></td>
                        </tr>
                    {/foreach}
                </tbody> 
            </table>
        </div>
    </fieldset>
</div>
{/block}

{*
{link User:edit, id => $id}, nebo pokud se ten parametr jmenuje opravdu primo id, staci i tohle {link User:edit, $id}   a nebo by melo fungovat tohle <a n:href="User:edit, $id">Editovat</a> - melo by stacit tam pridat carku.. pripadne zase cele <a n:href="User:edit, id => $id">Editovat</a>
pak ti staci vytvorit metodu renderEdit($id), parametr se ti tam automaticky preda

*}