{block content}
<div id="loginForm">
<h1 n:block="title">Změna hesla</h1>

{form passwordForm}
<div class="password-form">
    {control $form errors}

    <div class="pair">
        {label oldPassword /}
        <div class="input">{input oldPassword}</div>
    </div>
    <div class="pair">
        {label newPassword /}
        <div class="input">{input newPassword}</div>
    </div>
    <div class="pair">
        {label confirmPassword /}
        <div class="input">{input confirmPassword}</div>
    </div>
    <div class="pair">
        <div class="input">{input set}</div>
    </div>
</div>
        
{/form}
</div>