{var $robots = noindex}

{block #content}
<div id="loginForm">
<h1 n:block="title">Přihlášení do informačního systému</h1>



{form signInForm}
<div class="sign-in-form">
    {control $form errors}

    <div class="pair">
        {label username /}
        <div class="input">{input username}</div>
    </div>
    <div class="pair">
        {label password /}
        <div class="input">{input password}</div>
    </div>
    <div class="pair">
        <div class="input">{input remember} {label remember /}</div>
    </div>

    <div class="pair">
        <div class="input">{input send}</div>
    </div>
</div>
{/form}
</div>

{/block}