{* Latte template *}

{block content}

<h1>Vytvoření nové výpůjčky</h1> 

{* {control newVypujckaForm}
*}

{form newVypujckaForm}
    <div class="vypujcka-form">
        {if $user->isInRole('admin')}
            {label zamestnanecId /} {input zamestnanecId}
        {/if}
    </div>
    <div class="vypujcka-form">

        {label zakaznikId /} {input zakaznikId}

        {label nosicId /} {input nosicId}


    </div>
    <div class="vypujcka-form">
        {label dateTo /} {input dateTo size => 10, autofocus => true}
        (Formá: YYYY-MM-DD)
    </div>
    <div class="vypujcka-form">
        {input create}
    </div>
{/form}    

{/block}