{* Latte template *}

{block content}
<table>

    <tr>
        {*<th>Id Výpůjčky</th>*}
        <th>Zaměstnanec</th>
        <th>Vypůjčeno od</th>
        <th>Vypůjčeno do</th>                      
        <th>Zákazník</th>
            {* <th>{$vypujcka->aktualni}</th>*}
        <th colspan="2"></th>
        
    </tr>
    {foreach $vypujcky as $vypujcka}
        {var $id = $vypujcka->id_vypujcky}
        {if $vypujcka->aktualni}
            <tr>
                {*<td>{$id}</td>*}
                <td>{$vypujcka->id}</td>
                <td>{$vypujcka->termin_od}</td>
                <td>{$vypujcka->termin_do}</td>                            
                <td>{$vypujcka->id_zakaznik}</td>
                {* <td>{$vypujcka->aktualni}</td> *}
                <td><a n:href="#">Prodloužit</a></td>
                <td><a n:href="#">Ukončit</a></td>
                
            </tr>
        {/if}
    {/foreach}
</table>