<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="">
        <meta name="robots" content="{$robots}" n:ifset="$robots">

        <title>Informační systém půjčovny nosičů.</title>

        <link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/css/screen.css">
        <link rel="stylesheet" media="print" href="{$basePath}/css/print.css">
        
        {block head}{/block}
    </head>

    <body>
        {if $user->isLoggedIn()}
            <div id="header">

                Přihlášen jako: {$user->getIdentity()->name} |  
                <a href="http://www.stud.fit.vutbr.cz/~xdufek12/IIS/"> Home </a> |                 
                <a n:href="User:password">Změna hesla</a> | 
                <a n:href="signOut!">Odhlásit se</a>



            </div>
        {/if}
        <table width="100%">
            <tr>
                <td valign="top">
                    <div id="container">

                        {snippet flashMessages}
                            <div n:foreach="$flashes as $flash" class="flash {$flash->type}">{$flash->message}</div>
                        {/snippet}

                        {include #content}

                    </div>
                </td>

                <td width="300" valign="top">
                    {if $user->isLoggedIn()}

                        <div id="menu">
                            <ul>
                                <li>Zaměstnanec:</li>
                                <li><a n:href="Vypujcka:default">Přehled výpůjček</a></li>
                                <li><a n:href="Vypujcka:createNew">Vytvořit výpůjčku</a></li>
                                <li><a n:href="Vypujcka:deleteVypujcka">Ukončit výpůjčku</a></li>
                                <li><a n:href="Zakaznik:createNew">Nový zákazník</a></li>
                                    {if $user->isInRole('admin')} 
                                    <li>Administrátor:</li>
                                    <li><a n:href="Album:createNew">Nové album / interpret</a></li>
                                    <li><a n:href="Nosic:createNew">Nový nosič</a></li>
                                    <li><a n:href="Skladba:createNew">Nová skladba</a></li>
                                    <li><a n:href="User:default">Editace uživatelů</a></li>
                                    {/if}

                            </ul>
                        </div>

                    {/if}
                </td>

            </tr>
        </table>
        <div id="footer">


        </div>

    </body>
</html>
