body {
	font-size: 15px;
	line-height: 1.6;
	color: black;
	background: white;
}


h1 {
	color: #3484D2;
}
#container {
    margin:5px 20px;
    padding:0px
}

.vypujcka-form
{
    margin:15px;
    padding:0px;
    
}


#header{
    padding: 20px 30px;
    text-align:right;
    background-color: #3484D2;
    color: white;
}

#header a {
    color: white;
    text-decoration: none;
    
}
#loginForm{
    text-align: center;
    
}

#menu{ 
   margin-top:20px;
   padding:8px;
   width: 250px;
   height: 100%;
   text-align: left;
   font-size: 18px;
   background-color: #c5c5c5;
}
#menu ul
{
margin: 0;
padding:0;
list-style-type: none;
font-family: Arial, Helvetica, sans-serif;
}

#menu a
{
padding-left:7px;
vertical-align:middle;
display: block;
line-height:28px;
height:28px;
border-bottom: 1px solid #eee;
}

#menu a:link , #menu a:visited
{
background-color: white;
color: black;
text-decoration: none;
}

#menu a:hover
{
border-right: 7px solid  #eee;
padding-left: 10px;
color: black;
}


#ajax-spinner {
	margin: 15px 0 0 15px;
	padding: 13px;
	background: white url('../images/spinner.gif') no-repeat 50% 50%;
	font-size: 0;
	z-index: 123456;
	display: none;
}

div.flash {
	color: black;
	background: #FFF9D7;
	border: 1px solid #E2C822;
	padding: 1em;
	margin: 1em 0;
}

a[href^="error:"] {
	background: red;
	color: white;
}

form th, form td {
	vertical-align: top;
	font-weight: normal;
}

form th {
	text-align: right;
}

form .required label {
	font-weight: bold;
}

form .error {
	color: #D00;
	font-weight: bold;
}

html.js .jshidden {
	display: none;
}
